[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

.vscode/
.idea/

*.csproj
*.unityproj
*.sln
*.user
*.userprefs
.vs/Sword_of_Ascension/CopilotIndices/17.14.1577.30250/CodeChunks.db-shm
.vs/Sword_of_Ascension/CopilotIndices/17.14.1577.30250/CodeChunks.db-wal
.vs/Sword_of_Ascension/CopilotIndices/17.14.1577.30250/SemanticSymbols.db-shm
.vs/Sword_of_Ascension/CopilotIndices/17.14.1577.30250/SemanticSymbols.db-wal
